<td><%= "Order #{order.id}" %></td>
<td><%= order.address.name %></td>
<td><%= price_on_deal(order.payments.first.total_amount_in_cents) %></td>
<td><%= order.status %></td>
<td><%= link_to 'Order Details', order_path(order) %></td>
<td><%= button_to 'Set as Delivered?', deliver_admin_order_path(order.id), disabled: (order.Delivered? || order.Cancelled?), class: "btn btn-primary" %></td>
<td><%= button_to 'Set as Cancelled?', cancel_admin_order_path(order.id), disabled: (order.Delivered? || order.Cancelled?), class: "btn btn-primary" %></td>
