<td><%= "Order #{order.id}" %></td>
<td><%= order.address.name %></td>
<td><%= price_in_user_currency(order.net_total) %></td>
<td><%= order.status %></td>
<td><%= link_to 'Order Details', order_path(order) %></td>
<td><%= button_to 'Set as Delivered?', deliver_admin_order_path(order.id), disabled: (order.delivered? || order.cancelled?), class: "btn btn-primary" %></td>
<td><%= button_to 'Set as Cancelled?', cancel_admin_order_path(order.id), disabled: (order.delivered? || order.cancelled?), class: "btn btn-primary" %></td>
