<div>
  <h4><u><%= "Order #{order.id}" %></u></h4>
  </br>

  <div>
    <strong>Name</strong>
    <%= order.address.name %>
  </div>

  <div>
    <strong>Total amount</strong>
    <%= price_in_user_currency(order.net_total) %>
  </div>

  <div>
    <strong>Status</strong>
    <%= order.status %>
  </div>

  <div>
    <%= link_to 'Order Details', order_path(order) %>
  </div>
</div>
