<div id="<%= dom_id deal %>">
  <h4><u><%= "#{deal.title}" %></u></h4>
  </br>

  <div>
    <%= render 'deals/image', deal: deal %>
  </div>

  <div>
    <strong>Description </strong>
    <%= deal.description %>
  </div>

  <div>
    <strong>Original Price</strong>
    <s><%= converted_price(deal.price) %></s>
  </div>

  <div>
    <strong>Deal Price</strong>
    <%= converted_price(deal.discount_price) %>
  </div>
</div>
