<div id="<%= dom_id deal %>">
  <h4><u><%= "#{deal.title}" %></u></h4>
  </br>

  <div>
    <%= render 'deals/image', deal: deal %>
  </div>

  <div>
    <strong>Description </strong>
    <%= deal.description %>
  </div>

  <div>
    <strong>Original Price</strong>
    <s><%= price_in_decimal(deal.price_in_cents).to_fs(:currency, unit: '₹', format: '%u %n') %></s>
  </div>

  <div>
    <strong>Deal Price</strong>
    <%= price_in_decimal(deal.discount_price_in_cents).to_fs(:currency, unit: '₹', format: '%u %n') %>
  </div>
</div>
