<div id="<%= dom_id address %>">
  <div>
    <strong>Name</strong>
    <%= address.name %>
  </div>

  <div>
    <strong>City</strong>
    <%= address.city %>
  </div>

  <div>
    <strong>State</strong>
    <%= address.state %>
  </div>

  <div>
    <strong>Country</strong>
    <%= address.country %>
  </div>

  <div>
    <strong>Pincode</strong>
    <%= address.pincode %>
  </div>
</div>
