<td><%= "Deal #{deal.id}" %></td>
<td><%= deal.title %></td>
<td><%= price_in_currency(deal.deal_price_with_tax * deal.orders_count) %></td>
<td><%= price_in_currency(deal.deal_price_with_tax) %>
<td><%= price_in_currency(deal.deal_price_with_tax * (deal.quantity + deal.orders_count)) %>
