<td><%= "Deal #{deal.id}" %></td>
<td><%= deal.title %></td>
<td><%= price_in_currency(total_deal_revenue) %></td>
<td><%= price_in_currency(deal.deal_price_with_tax) %>
<td><%= price_in_currency(deal.deal_price_with_tax * deal.quantity + total_deal_revenue) %>
