<td><%= "Deal #{deal.id}" %></td>
<td><%= deal.title %></td>
<td><%= price_on_deal(total_deal_revenue) %></td>
<td><%= price_on_deal(deal.deal_price_with_tax) %>
<td><%= price_on_deal(deal.deal_price_with_tax * deal.quantity + total_deal_revenue) %>
