<div id="<%= dom_id line_item %>">
  <u><%= link_to "#{Deal.find(line_item.deal_id).title}" %></u>
  </br>

  <div>
    <%= render 'deals/image', deal: Deal.find(line_item.deal_id)%>
  <div>
 
  <div>
    <strong>Original Price</strong>
    <s><%= price_on_deal(line_item.unit_price) %></s>
  </div>

  <div>
    <strong>Deal Price</strong>
    <%= price_on_deal(line_item.discount_price) %>
  </div>

  <div>
    <strong>Quantity</strong>
    <%= line_item.quantity %>
  </div>

</div>
