<div id="<%= dom_id line_item %>">
  <u><%= link_to "#{line_item.deal.title}" %></u>
  </br>

  <div>
    <%= render 'deals/image', deal: line_item.deal%>
  <div>
 
  <div>
    <strong>Original Price</strong>
    <s><%= price_in_user_currency(line_item.price) %></s>
  </div>

  <div>
    <strong>Deal Price</strong>
    <%= price_in_user_currency(line_item.discount_price) %>
  </div>

  <div>
    <strong>Quantity</strong>
    <%= line_item.quantity %>
  </div>

</div>
