<div id="<%= dom_id line_item %>">
  <u><%= link_to "#{Deal.find(line_item.deal_id).title}" %></u>
  </br>

  <div>
    <%= render 'deals/image', deal: Deal.find(line_item.deal_id)%>
  <div>
 
  <div>
    <strong>Original Price</strong>
    <s><%= price_in_decimal(line_item.price_in_cents).to_fs(:currency, unit: '₹', format: '%u %n') %></s>
  </div>

  <div>
    <strong>Deal Price</strong>
    <%= price_in_decimal(line_item.discount_price_in_cents).to_fs(:currency, unit: '₹', format: '%u %n') %>
  </div>

  <div>
    <strong>Quantity</strong>
    <%= line_item.quantity %>
  </div>

</div>
